 <footer uk-scrollspy="target: > div.animated; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
     <div class="bg-dark py-5 animated">
      <div class="uk-container text-white"> 
        <div class="uk-grid-small uk-child-width-expand@s" uk-grid>

          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Terms &amp; Conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>

          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white disabled" href="#">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Find a Tutor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Be a Tutor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Be a Student</a>
              </li>
            </ul>
          </div>


          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white disabled" href="#">Follow Us</a>
              </li>
              <li class="nav-item">
                <span>
                  <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                  <a href="#" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                  <a href="#" class="uk-icon-button" uk-icon="google-plus"></a>
                </span>
              </li>
            </ul>
          </div>
        </div>

        <p class="main-text text-center">&copy; Copyright <%= new Date().getFullYear();%> All Rights Reserved</p>
      </div>
     </div>
   </footer>