<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- UIKIT CSS -->
    <link rel="stylesheet" href="/uikit/dist/css/uikit.min.css">

    <!-- Fontawesome Link -->
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

     <!-- Custom CSS -->
     <link rel="stylesheet" href="/Content/app.css" />
        
     <!-- Favicon LINK -->
     <link rel="icon" href="/Assets/images/favicon.ico" type="image/png">

     <!-- Google Fonts Link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;1,200;1,400&display=swap" rel="stylesheet">

    <title><%= title%></title>
  </head>
  <body>