<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- UIKIT CSS -->
    <link rel="stylesheet" href="/uikit/dist/css/uikit.min.css">

     <!-- Custom CSS -->
     <link rel="stylesheet" href="/Content/app.css" />
        
     <!-- Favicon LINK -->
     <link rel="icon" href="/Assets/images/favicon.ico" type="image/png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;1,200;1,400&display=swap" rel="stylesheet">

    <title>Hello, world! <%= title%></title>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark "> 
        <a class="navbar-brand" href="#" id="logo-text">learnt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
  
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Be a Tutor</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Be a Student</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
  
          </ul>
        </div>
      </nav>
    </header>

    <video src="/Assets/videos/Landing.mp4" loop muted uk-video="autoplay: inview" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} uk-card-hover"></video>
    <div class="uk-overlay uk-light uk-position-center text-center">
        <h1 class="my-0 header-text">Find</h1>
        <h1 class="mt-0 header-text">the perfect tutor</h1>
        <button class="uk-button uk-button-default uk-border-pill" type="button">Choose a Subject</button>
        <div uk-dropdown="pos: bottom-justify ">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-text-large"><a href="#">Math</a></li>
                <li class="uk-text-large"><a href="#">French</a></li>
                <li class="uk-text-large"><a href="#">ESL</a></li>
                <li class="uk-text-large"><a href="#">Coding</a></li>
                <li class="uk-text-large"><a href="#">Music</a></li>
                <li class="uk-text-large"><a href="#">Art</a></li>
                <li class="uk-text-large"><a href="#">Science</a></li>
            </ul>
        </div>
    </div>
    
    <div class="uk-container my-5">
      <h1 class="header-text text-center">Our Tutors</h1>
      <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
      </div>
    </div>

    <a class="uk-button uk-button-primary uk-button-large d-block w-25 mx-auto header-text uk-text-large uk-text-capitalize text-white mb-5 py-3 uk-border-pill">See more teachers</a>
   
    
   
    <!-- <div class="jumbotron">
      <h1 class="display-4">Hello, world! <%= title%></h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div> -->


    <!-- JQUERY -->
    <script src="/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- UIKIT -->
    <script src="/uikit/dist/js/uikit.min.js"></script>
    <script src="/uikit/dist/js/uikit-icons.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="/Scripts/app.js"></script>
  </body>
</html>