<%- include partials/header.ejs %>  

<%- include partials/main_nav.ejs %>  

  <main uk-scrollspy="target: > div.animated; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
    <video src="/Assets/videos/Landing.mp4" loop muted uk-video="autoplay: inview" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} uk-card-hover"></video>
    <div class="uk-overlay uk-light uk-position-center text-center">
        <h1 class="my-0 header-text">Find</h1>
        <h1 class="mt-0 header-text">the perfect tutor</h1>
        <button class="uk-button uk-button-default uk-border-pill" type="button"><span uk-search-icon></span> Choose a Subject</button>
        <div uk-dropdown="pos: bottom-justify ">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-text-large"><a href="#">Math</a></li>
                <li class="uk-text-large"><a href="#">French</a></li>
                <li class="uk-text-large"><a href="#">ESL</a></li>
                <li class="uk-text-large"><a href="#">Coding</a></li>
                <li class="uk-text-large"><a href="#">Music</a></li>
                <li class="uk-text-large"><a href="#">Art</a></li>
                <li class="uk-text-large"><a href="#">Science</a></li>
            </ul>
        </div>
    </div>
    
    <div class="uk-container my-5 animated">
      <h1 class="header-text text-center">Our Tutors</h1>
      <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s" uk-grid>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait1.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Ethan</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait2.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Alice</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait7.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Alex</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait5.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Rebecca</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait6.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Marco</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait4.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Cynthia</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait9.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Jean</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait8.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Jacob</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded">
              <div class="uk-card-media-top">
                  <img src="/Assets/images/portrait10.jpg" alt="">
              </div>
              <div class="uk-card-body">
                  <h2 class="mb-2 text-left header-text">Taylor</h2>
                  <span class="badge badge-primary p-2">$44 / hr&nbsp;&nbsp;&amp;&nbsp;&nbsp;1<sup>st</sup>&nbsp;lesson free </span>
                  <span class="badge badge-success p-2">38 five <i class="fas fa-star"></i> reviews! </span>
                  <p class="text-left main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text text-right main-text">Read more</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="animated">
      <a class="uk-button uk-button-primary uk-button-large d-block w-25 mx-auto header-text uk-text-large uk-text-capitalize text-white mb-5 py-3 uk-border-pill">See more teachers</a>
    </div>

    <!-- Login Modal -->
    <div id="login-modal" class="uk-modal-full" uk-modal>
      <div class="uk-modal-dialog">
          <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
          <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-background-cover" style="background-image: url('/Assets/images/loginPic.jpg');" uk-height-viewport></div>
              <div class="uk-padding-large">

                  <h1 class="main-text mb-0">Login</h1>

                   <!-- BEGIN SECTION : FORM  -->
                   <form class="uk-form-horizontal my-5 d-block mx-auto" method="POST" autocomplete="off">
    
                    <div >
                        <!-- USERNAME -->
                        <div class="mb-3 mt-0">
                            <label class="uk-form-label uk-text-large main-text" for="username">UserName</label>
                            <div class="uk-form-controls">
                                <input class="uk-form-large " id="username" type="text" placeholder="Username" name="username" required autofocus>
                            </div>
                        </div>
    
                         <!-- PASSWORD -->
                         <div class="mb-3">
                            <label class="uk-form-label uk-text-large main-text" for="password">Password</label>
                            <div class="uk-form-controls">
                                <input class="uk-form-large " id="password" type="password" placeholder="Password" name="password" required>
                            </div>
                        </div>
    
                    </div>

                    <!-- LOGIN AND CANCEL -->
                    <div class="text-center mt-4">
                        <button class="uk-button uk-button-primary main-text" type="submit" id="sendButton"><span uk-icon="sign-in"></span> Login</button>
                        <a class="uk-button uk-button-danger main-text" href="/"><span class="uk-margin-small-right" uk-icon="close"></span> Cancel</a>
                    </div>  
    
                  </form> 
                  <!-- END SECTION : FORM  -->
              </div>
          </div>
      </div>
    </div>
    <!-- Login Modal -->


  </main>
    

<%- include partials/bottom_nav.ejs %>      

<%- include partials/footer.ejs %>   